/* styles.css */
body {
    background: url('https://media.istockphoto.com/id/1371896330/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%AB%E0%B8%8D%E0%B8%B4%E0%B8%87%E0%B9%80%E0%B8%AD%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%A1%E0%B8%B5%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1%E0%B8%AA%E0%B8%B8%E0%B8%82%E0%B9%83%E0%B8%99%E0%B8%A7%E0%B8%B1%E0%B8%99%E0%B8%AA%E0%B9%8D%E0%B8%B2%E0%B9%80%E0%B8%A3%E0%B9%87%E0%B8%88%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%82%E0%B8%B2.webp?b=1&s=612x612&w=0&k=20&c=TMX49SXi2WPVHFVYQwlvnzVegpZPNJ4lcUoigt8fgqg=') center/cover no-repeat fixed;
    background-color: rgba(246, 246, 246, 0.5); /* Blue color overlay with 50% opacity */
    margin: 0; /* Optional: Remove default margin */
    padding: 0; /* Optional: Remove default padding */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  